<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{ else }}
      <div class="copyright">
        <span>© {{ now.Year }} Powered by <a href="https://github.com/xqk">xqk</a></span>
    {{ end }}
        <span>:: <a href="https://beian.miit.gov.cn/" target="_blank">苏ICP备19072419号-1</a></span>
        <span style="background-color: #ffffff;"><a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"><img src="https://up.icl.site/img/upyunlink.png-m1280x" style="height: 14px;"></a></span>
      </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}

{{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
